html {
    background-color: #dddddd;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
}
#BandeauTitre {
    background-color:  #eeeeee;
    box-shadow: 0 0 10px #100;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#BoxSpace {
    justify-content: space-around;
    display : flex;
    margin: 25px;
}


.Box {
<<<<<<< HEAD
    width: 400px;
=======
    width: 260px;
>>>>>>> b5c490cc84de6203b59b2b469e47bb3e342b393e
  
    border-radius: 25px;
    height: 500px;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
=======
>>>>>>> b5c490cc84de6203b59b2b469e47bb3e342b393e
    align-items: center;
    text-align: center;
    background-color: #eeeeee;  
    padding: 10pix;
<<<<<<< HEAD

=======
>>>>>>> b5c490cc84de6203b59b2b469e47bb3e342b393e
}

